@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Sue+Ellen+Francisco&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --super-light-color: rgb(243, 244, 245);
  --light-color: rgb(217, 232, 241);
  --medium-color: rgb(187, 209, 224);
  --dark-color: rgb(15, 32, 65);
}

* {
  background-color: var(--super-light-color);
  z-index: inherit;
  transition: all 0.2s ease;
  height: 100%;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  color: var(--dark-color);
  /* outline: 1px solid black; */
}

i,
a, p, span {
  text-decoration: none;
  height: auto;
}

div.top-bar,
div.top-bar * {
  background-color: var(--light-color);
}

.top-bar {
  overflow: hidden;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 75px;
}

.filter-head,
.nav-bar {
  display: flex;
  min-width: 600px;
  margin: 0px 100px;
  justify-content: space-between;
  align-items: center;
}

.left-nav,
.left-filter-head {
  font-size: 1.4em;
  font-family: sans-serif;
  font-weight: 300;
  display: flex;
  width: auto;
  min-width: fit-content;
  padding: 5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right-nav,
.right-filter-head {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
}

.filter-head-filter-item,
.nav-list-item {
  display: flex;
  align-content: center;
  align-items: center;
  min-width: fit-content;
}

.filter-item-container,
.list-item-container {
  margin: 0px 5px;
  height: 30px;
  gap: 5px;
  width: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item-container {
  padding: 20px 30px;
}

.hidden-top-nav {
  /* display: hidden; */ /* better way is to translate to add transition*/
  transform: translate3d(0px, -65px, 0);
}

.body {
  f
}

.middle-slidebar {
  margin-top: 75px;
  height: 400px;
  background-color: var(--dark-color);
}

.wrapper-slider {
  overflow: visible;
  position: relative;
  display: flex;
  width: 900px;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
}

.left-slide-but:active,
.left-slide-but:active *,
.right-slide-but:active,
.right-slide-but:active * {
  background-color: var(--medium-color);
  transform: scale(1.01);
}

.left-slide-but:hover,
.right-slide-but:hover {
  box-shadow: 0px 0px 100px 10px var(--dark-color);
}

.left-slide-but,
.right-slide-but {
  border-radius: 30px;
  border: 2px solid var(--light-color);
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 1;
}
.left-slide-but {
  left: 0;
  transform: translate(-50%);
}
.right-slide-but {
  right: 0;
  transform: translate(50%);
}

.container {
  height: auto;
}
/* added this because I was getting weird white space selection 
due to inline-block */
.main-slider::selection {
  text-decoration: none;
}

.main-slider {
  background-color: var(--dark-color);
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  padding: 0px 10px;
}

.inside-box:nth-child(4n + 0) {
  background-color: rgb(213, 220, 236);
}
.inside-box:nth-child(4n + 1) {
  background-color: rgb(175, 182, 197);
}
.inside-box:nth-child(4n + 2) {
  background-color: rgb(140, 153, 179);
}
.inside-box:nth-child(4n + 3) {
  background-color: rgb(121, 133, 156);
}

.inside-box {
  transition: all 1s ease;
  display: inline-block;
  width: 210px;
  height: 300px;
  margin: 50px 10px;
  z-index: 10;
}

.dish-card:hover,
.inside-box:hover {
  transform: scale(1.05);
  transition: all 0.1s smooth;
  box-shadow: 0px 0px 50px 10px var(--light-color) inset;
  filter: drop-shadow(0px 0px 50px);
  border-radius: 10px;
  box-shadow: 0 0 10px 20px rgba(250, 245, 245, 0.5),
    0 0 10px 10px hsl(0, 30%, 95%);
}

/* asked to change */
/* 
.nav-list-item:hover {
  border-radius: 5px;
  filter: drop-shadow(0px 0px 50px);
}
*/
.list-item-container:hover,
.list-item-container:hover * {
  transition: none;
  border-radius: 10px;
  background-color: var(--dark-color);
  color: var(--light-color);
}

.filter-item-container:hover {
  box-shadow: 0 -4px 0px -1px black inset;
}

.dish-card,
.inside-box {
  border-radius: 20px;
}

.dish-card {
  position: relative;
}

.hidden {
  display: none;
}

.move-left {
  transform: translate(-232px);
}

.filter-case-head {
  position: sticky;
  top: 0px;
  z-index: 1000;
  height: 75px;
}

.show-rest {
  background-color: var(--dark-color);
  height: auto;
  margin: 0px 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  padding: 10px;
  justify-items: center;
  z-index: 0;
}

.dish-card {
  height: 340px;
  width: 250px;
  margin: 30px 10px;
  display: grid;
  align-content: space-between;
  padding: 10px;
}

.image-pos {
  height: 200px;
  width: 100%;
}

.content-pos {
  width: 100%;
  height: 100px;
}

.dish-card:nth-child(5n + 0) {
  background-color: rgb(213, 220, 236);
}
.dish-card:nth-child(5n + 1) {
  background-color: rgb(187, 194, 211);
}
.dish-card:nth-child(5n + 2) {
  background-color: rgb(175, 182, 197);
}
.dish-card:nth-child(5n + 3) {
  background-color: rgb(140, 153, 179);
}
.dish-card:nth-child(5n + 4) {
  background-color: rgb(121, 133, 156);
}

.brand-name {
  text-transform: uppercase;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 1.2em;
  height: auto;
}

.image-pos,
.content-pos {
  background-color: inherit;
}

.content-pos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  place-items: stretch;
}
.content-pos * {
  background-color: inherit;
}

.food-name {
  grid-column: 1/4;
}

.food-category {
  grid-column: 1/4;
}

.rating-container {
  transform: scale(0.8);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  gap: 5px;
  padding: 5px;
  margin: 5px;
  background-color: var(--dark-color);
  border-radius: 13px;
}
.rating-container * {
  text-align: center;
  color: var(--light-color);
}

.buttons {
  bottom: 0px;
  height: 30px;
  position: absolute;
  display: flex;
}

.add-item, .remove-item {
  border-radius: 30px;
  border: 2px solid var(--light-color);
}