@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
:root {
  --light-color: rgb(217, 232, 241);
  --medium-color: rgb(187, 209, 224);
  --dark-color: rgb(15, 32, 65);
}

* {
  transition: all 0.2s ease-in;
  height: 100%;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
  color: var(--dark-color);
  /* outline: 1px solid black; */
}

div.top-bar,
div.top-bar * {
  background-color: var(--light-color);
}

div.top-bar {
  position: fixed;
  z-index: 10;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 75px;
}

.filter-head,
.nav-bar {
  display: flex;
  align-items: center;
  min-width: 600px;
  margin: 0px 100px;
  justify-content: space-between;
}

.left-nav,
.left-filter-head {
  font-size: 1.4em;
  font-family: sans-serif;
  font-weight: 300;
  display: flex;
  width: auto;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
}

.right-nav,
.right-filter-head {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
}

.nav-list-item {
  display: flex;
  align-content: center;
}

.filter-item-container,
.list-item-container {
  width: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-item-container {
  padding: 35px;
}

.hidden-top-nav {
  /* display: hidden; */ /* better way is to translate to add transition*/
  transform: translate3d(0px, -65px, 0);
}

/* everything above is for top-bar */

.middle-slidebar {
  margin-top: 75px;
  height: 400px;
  background-color: var(--dark-color);
}

.wrapper-slider {
  overflow: visible;
  position: relative;
  display: flex;
  width: 900px;
  margin: 0px auto;
  align-items: center;
  justify-content: center;
}

.left-slide-but:active,
.right-slide-but:active {
  background-color: var(--medium-color);
}

.left-slide-but:hover,
.right-slide-but:hover {
  box-shadow: 0px 0px 100px 50px var(--dark-color);
  border: 2px solid var(--dark-color), 1px solid white;
}

.left-slide-but,
.right-slide-but {
  border-radius: 30px;
  position: absolute;
  height: 50px;
  width: 50px;
  z-index: 1;
}
.left-slide-but {
  left: 0;
  transform: translate(-50%);
}
.right-slide-but {
  right: 0;
  transform: translate(50%);
}

.main-slider {
  overflow: hidden;
  height: 330px;
  width: 100%;
  white-space: nowrap;
  padding: 0px 10px;
}

.inside-box:nth-child(4n + 0) {
  background-color: rgb(213, 220, 236);
}
.inside-box:nth-child(4n + 1) {
  background-color: rgb(175, 182, 197);
}
.inside-box:nth-child(4n + 2) {
  background-color: rgb(140, 153, 179);
}
.inside-box:nth-child(4n + 3) {
  background-color: rgb(121, 133, 156);
}

.inside-box {
  display: inline-block;
  width: 210px;
  margin: 0px 10px;
  transition: all 1s ease;
  z-index: 10;
  /* background-color: rgb(146, 166, 204); */
}

.dish-card:hover,
.inside-box:hover {
  -webkit-margin-top-collapse: discard;
  transform: scale(1.1) translateZ(0);
  transition: transform 10ms ease-in 10ms ease-out;
  box-shadow: 0px 0px 50px 10px var(--light-color) inset;
  filter: drop-shadow(0px 0px 100px);
  border-radius: 10px;
}
.nav-list-item:hover {
  border-radius: 5px;
  filter: drop-shadow(0px 0px 50px);
}
.filter-head-filter-item:hover {
  text-decoration: underline;
}

.dish-card,
.inside-box {
  border-radius: 20px;
}

.hidden {
  display: none;
}

.move-left {
  transform: translate(-232px);
}

.filter-case-head {
  height: 75px;
}

.show-rest {
  background-color: var(--dark-color);
  height: auto;
  margin: 0px 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  padding: 10px;
  justify-items: center;
}

.dish-card {
  height: 340px;
  width: 250px;
  margin: 30px 10px;
  display: grid;
  align-content: space-between;
  padding: 10px;
}

.image-pos {
  height: 200px;
  width: 100%;
}

.content-pos {
  width: 100%;
  height: 100px;
}

i.material-icons {
  height: 30px;
  margin: 2px;
}
a {
  text-decoration: none;
}

.dish-card:nth-child(4n + 0) {
  background-color: rgb(213, 220, 236);
}
.dish-card:nth-child(4n + 1) {
  background-color: rgb(175, 182, 197);
}
.dish-card:nth-child(4n + 2) {
  background-color: rgb(140, 153, 179);
}
.dish-card:nth-child(4n + 3) {
  background-color: rgb(121, 133, 156);
}
