:root {
  --color0: rgba(240, 224, 224, 0.973);
  --color1: rgba(236, 200, 200, 0.973);
  --color2: rgba(231, 165, 165, 0.973);
  --color3: rgba(228, 127, 127, 0.973);
  --color4: rgba(184, 72, 72, 0.973);
  --color5: rgba(170, 46, 46, 0.973);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: var(--color0);
  /* Using outline to understand the structure better */
  /* outline: 1px dashed black; */
  font-family: monospace;
}

.screen-area {
  /* Height and width are set through js */
  margin: 0 auto;
  min-width: 10px;
  background-color: rgb(181, 198, 216);
}

.cell {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-div {
  margin-top: 40px;
  text-align: center;
  font-size: 1.5em;
}

.header-div > h1 {
  margin: 0 auto;
  width: 300px;
  color: var(--color5);
  border: 2px solid var(--color5);
  border-radius: 20px;
}
.header-div > h2 {
  margin: 0 auto;
  margin-top: 5px;
  font-size: 0.8em;
  width: 350px;
  padding: 10px;
  background-color: var(--color5);
  color: aliceblue;
}

.header-div > h1:hover {
  color: var(--color0);
  background-color: var(--color5);
}

.input-div {
  height: 100px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.input-div > input {
  width: 50px;
  text-align: center;
  height: 30px;
  border-radius: 20px;
  background-color: var(--color1);
  font-weight: bold;
}

.horizontal-section {
  overflow: scroll;
  display: flex;
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fill, 75px);
}

.left-scrollable-container,
.down-scrollable-container,
.fully-scrollable-container {
  overflow: scroll;
}

.blocked > .cell {
  background-color: var(--color3);
  font-weight: bold;
}
.left-scroll-div > .cell,
.down-scroll-div > .cell {
  background-color: var(--color2);
}
.fully-scroll-div > .cell {
  background-color: var(--color1);
}
