:root {
  --color0: rgba(240, 224, 224, 0.973);
  --color1: rgba(236, 200, 200, 0.973);
  --color2: rgba(231, 165, 165, 0.973);
  --color3: rgba(228, 127, 127, 0.973);
  --color4: rgba(184, 72, 72, 0.973);
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  background-color: var(--color0);
  /* Using outline to understand the structure better */
  outline: 1px dashed black;
}

.screen-area {
  /* Height and width are set through js */
  margin: 0 auto;
  min-width: 10px;
  background-color: rgb(181, 198, 216);
}

.cell {
  /* Height and width are set through js */
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-div {
  height: 100px;
}

.horizontal-section {
  overflow: scroll;
  display: flex;
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fill, 75px);
}

.left-scrollable-container,
.down-scrollable-container,
.fully-scrollable-container {
  overflow: scroll;
}

.blocked > .cell {
  background-color: var(--color3);
}
.left-scroll-div > .cell,
.down-scroll-div > .cell {
  background-color: var(--color2);
}
.fully-scroll-div > .cell {
  background-color: var(--color1);
}
